<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-label>
          <ion-card-header>
            <ion-card-title>Mahasiswa UMN</ion-card-title>
          </ion-card-header>

          <ion-card-content>
              <div>
                Indra Gunawan
                <br>
                00000013226
              </div>
          </ion-card-content>
        </ion-label>
    </ion-card>
    <ion-item-divider></ion-item-divider>
    <div text-center style="margin-top:20px">
        <b style="font-weight: 500">&copy; </b> 
        <b>UMN 2019</b>
    </div>
</ion-content>
